<form method="post" action="{{ path('calendar_remove_member', {'id': calendar.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir quitter cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('removeMember' ~ calendar.id) }}">
    <button class="btn btn-outline-danger">Quitter l'évènement</button>
</form>
