{% extends 'base.html.twig' %}

{% block title %}New Calendar{% endblock %}

{% block body %}
    <div class="forms">
        <div class="formContainer">
            <h1>Créer un nouveau rendez-vous</h1>
            <div class="formContainerFields">
                {{ include('calendar/_form.html.twig', {'button_label': 'Enregistrer'}) }}
            </div>
            <a href="{{ path('calendar_index') }}">Liste des contacts</a>
        </div>
    </div>
{% endblock %}
