{% extends 'base.html.twig' %}

{% block title %}Votre demande de réinitialisation de mot de passe a été envoyé{% endblock %}

{% block body %}
<div class="forms">
    <div class="formContainer">
        <p>
            Un email de réinitialisation de mot de passe a été envoyté
            Ce lien expire dans  {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
    </div>
</div>
{% endblock %}
