{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <div class="mentionslegales">
        <h1>MENTIONS LEGALES</h1>

        <h2>Editeur et directeur de la publication</h2>
        <p>HERTZ Dimitri</p>
        <p>Mail :<a href="mailto: contact@crm.webo"> contact@crm.webo</a></p>

        <h2>Hébergeur</h2>
        <p >OVH</p>
        <p>Siège social :  4416 Louis B. Mayer, Laval (Québec) H7P 0G1, Canada </p>
        <p>Téléphone :  0 805 080 426</p>

        <h2>Cookies</h2>
        <p>Le présent site internet n'utilise que des cookies techniques pour le fonctionnement du site internet.</p>
    </div>
{% endblock %}
