.agenda {
    padding-top: 100px;
    padding-bottom: 150px;

    #calendar-holder {
        background-color: white;
        border-radius: 20px;
        padding: 20px;
        border: 1px solid #cfcfcf;
    }
}
