.dashboard {
    
    .sideNav {
        position: fixed;
        width: 220px;
        height: 100%;
        background-color: #303b43;
        padding-top: 40px;
        

        & .nav-item a {
            color: rgba(255,255,255,.75);
            transition: background-color ease-in 0.2s;
            &:hover {
                color: rgb(255, 255, 255);
                background-color: #7598c0;
            }
        }
    }
    

    .dashboardPanel {
        margin-top: 35px;
        float: left;
        margin-left: 220px;
        height: 100vh;
        margin-bottom: 100px;

        .title {
            margin-left: 20px;
            padding: 10px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            
            h2 {
                margin-left: 20px;
                font-size: 35px;
                margin-top: 10px;
            }
        }

        .card {
            background-color: white;
            border-radius: 20px;
            padding: 20px;
            border: 1px solid #cfcfcf;

            .searchbox{
                margin-bottom: 20px;
                form {
                    display: flex;
                    align-items: center;

                }

                button[type="submit"] {
                    margin-left: 20px;
                }
            }


             // Contact search result
            .contactList {
                .contactCard {
                    margin-bottom: 20px;
                    background-color: #f6f7fc;
                    border-radius: 20px;
                    padding: 20px;

                    div {
                        p {
                            margin-bottom: 0px;
                        }
                    }

                    h4 {
                        font-weight: 700;
                        margin-bottom: 12px;
                    }

                    i {
                        margin-top: 5px;
                        margin-right: 15px;
                        margin-bottom: 5px;
                        font-size: 15px;
                    }

                }
            }
        }

        .icon {
            height: 70px;
            width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            
            img {
                height: 85px;
                width: 85px;
            }

            &.agendaIcon {
                background-color: rgb(218, 235, 255);
        
                
            }

            &.contactIcon {
                background-color: rgb(208, 238, 226);

            }
            
        }

       
    }
    .register-user {
        max-width: 300px;
    }
}

#calendar-holder {
    a {
        color: #333333;
        &:hover {
            text-decoration: none
        }
    }
}

@media screen  and (max-width: 1200px) {

.dashboard {
        .sideNav {
            display: none
        }

        .dashboardPanel {
            margin-left: 0;
        }
    }
}

