.forms {
    
    display: flex;
    justify-content: center;
    background-color: $background-color;;


    
    .formContainer {
        margin-top: 80px;
        margin-bottom: 100px;
        justify-content: center;
        max-width: 500px;
        min-width: 350px;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 5px 3px 6px rgb(224, 224, 224);
        background: white;

            h1 {
                font-size: 3rem;
                margin-bottom: 20px;
                text-align: center;
            }

            .formContainerFields {
                display: flex;
                justify-content: center;
                
                .form-group {
                    display: flex;
                    flex-direction: column;
                    min-width: 400px;
                }

            }
    }

}
