.forms {
    
    display: flex;
    justify-content: center;
    
    .formContainer {
        margin-top: 80px;
        margin-bottom: 100px;
        justify-content: center;
        max-width: 500px;
        min-width: 250px;
        padding: 30px;
        border-radius: 20px;
        background-color: white;
        padding: 20px;
        border: 1px solid #cfcfcf;

            h1 {
                font-size: 2.5rem;
                margin-bottom: 20px;
                text-align: center;
            }

            .formContainerFields {
                display: flex;
                justify-content: center;
                
                .form-group {
                    display: flex;
                    flex-direction: column;
                }

            }
    }



}

@media screen and (max-width: 800px) {
    .formContainerFields {
    padding-left: 20px;
    padding-right: 20px;

    }
}