
/*FOOTER*/

.footer {
    background: $dark-bg-color;
    padding: 16px 0;
    &-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            a {
                color: white;
                &:hover {
                    text-decoration: underline;
            }
        }
    }
}
