{% extends 'base.html.twig' %}

{% block title %}Edit Contact{% endblock %}

{% block body %}
<div class="forms">
    <div class="formContainer">
        <h1>Editer un contact</h1>
            <div class="formContainerFlields">
                {{ include('contact/_form.html.twig', {'button_label': 'Editer'}) }}
            </div>
            <a href="{{ path('contact_index') }}">Liste des contacts</a>
            {{ include('contact/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}
    </div>
</div>

{% endblock %}
