{% extends 'base.html.twig' %}

{% block title %}Nouveau contact{% endblock %}

{% block body %}
<div class="forms">
    <div class="formContainer">
            <h1>Créer un nouveau contact</h1>
            <div class="formContainerFields">

            {{ include('contact/_form.html.twig', {'button_label': 'Enregistrer'}) }}

        </div>
        <div class="d-flex justify-content-center mt-4">
            <a href="{{ path('contact_index') }}">Liste des contacts</a>
        </div>
    </div>
</div>
{% endblock %}
