{% extends 'base.html.twig' %}

{% block title %}Nouveau contact{% endblock %}

{% block body %}
<div class="forms">
    <div class="formContainer">
            <h1>Créer un nouveau contact</h1>
            <div class="formContainerFlields">     

            {{ include('contact/_form.html.twig', {'button_label': 'Enregistrer'}) }}

        </div>
            <a href="{{ path('contact_index') }}">Liste des contacts</a>
    </div>
</div>
{% endblock %}
